.DS_Store
.idea
*.log
tmp/


autostart
BraveSoftware
BetterDiscord
dconf
discord
gconf
goa*
Electron
galculator
Kvantum
mimeapps.list
picom.conf
pavucontrol.ini
QtProject.conf
Trolltech.conf
users-dir.locale
users-dir.dirs
pulse
yad.conf
ytmdl/
tagaini.net/
tailscale/
user-dirs.dirs
user-dirs.locale
vlc/
volumeicon/
obmenu-generator/
pamac/
paru/
pcmanfm/
bunkus.org/
fontconfig/
go/
gpick/
gsimplecal/
htop/
libfm
qt5ct
emacs
doom
Cider
