[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yulivee/Desktop/emacs.desktop]
row=3
col=14

[/home/yulivee/Desktop/chromium.desktop]
row=2
col=15

[/home/yulivee/Desktop/Alacritty.desktop]
row=1
col=14

[/home/yulivee/Desktop/Junk]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=1
col=0

[/home/yulivee]
row=3
col=0

